html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-container {
  position: relative;
  height: 90vh;
  overflow: hidden;
  
  .navbar-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.4);
  }

  .navbar-superior {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 7%;
  }

  .buscador {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3;
    
    .frases {
      font-size: 1.5rem;
      color: white;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      animation: slide 5s linear infinite;
    }
  }
}

/* Animahiones */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
