<!-- CONTENEDOR -->
<div class="px-4 mt-6">
  <div
    class="bg-white rounded-xl shadow-lg overflow-hidden md:w-64 mx-auto md:mx-0"
  >
    <nav class="divide-y divide-gray-200">
      <ng-container *ngFor="let link of links">
        <a
          [routerLink]="link.path"
          routerLinkActive="!text-gray-900 text-blue-600 font-semibold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="group flex items-center px-6 py-4 text-gray-700 hover:bg-gray-100 transition-all duration-300 relative"
        >
          <div
            class="absolute left-0 top-0 h-full w-1 bg-blue-600 rounded-r transition-opacity duration-300"
            [class.opacity-100]="isActive(link.path)"
            [class.opacity-0]="!isActive(link.path)"
          ></div>
          {{ link.label }}
        </a>
      </ng-container>
    </nav>
  </div>
</div>
