<div class="register-container">
  <div class="register-image d-none d-lg-flex">
    <img src="/assets/image/salon1.webp" alt="Imagen de registro" />
  </div>

  <div class="register-form">
    <div class="form-inner">
      <button class="back-button" (click)="goBack()">
        ← {{ "REGISTER.BACK" | translate }}
      </button>
      <h1 class="logo">Beauty<span>Book</span></h1>
      <h2>{{ "REGISTER.TITLE" | translate }}</h2>

      <form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm">
        <!-- Nombre -->
        <div class="input-group">
          <label for="nombre">{{
            "REGISTER.FIELD_FIRSTNAME" | translate
          }}</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="nombre"
            #nombreCtrl="ngModel"
            required
          />
        </div>

        <!-- Apellidos -->
        <div class="input-group">
          <label for="apellidos">{{
            "REGISTER.FIELD_LASTNAME" | translate
          }}</label>
          <input
            type="text"
            id="apellidos"
            name="apellidos"
            [(ngModel)]="apellidos"
            #apellidosCtrl="ngModel"
            required
          />
        </div>

        <!-- Email -->
        <div class="input-group">
          <label for="email">{{ "REGISTER.FIELD_EMAIL" | translate }}</label>
          <input
            type="email"
            id="email"
            name="email"
            [(ngModel)]="email"
            #emailCtrl="ngModel"
            required
          />
        </div>

        <!-- Contraseña -->
        <div class="input-group">
          <label for="password">{{
            "REGISTER.FIELD_PASSWORD" | translate
          }}</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            #passwordCtrl="ngModel"
            required
            minlength="7"
          />
        </div>

        <!-- Confirmar Contraseña -->
        <div class="input-group">
          <label for="password_confirmation">{{
            "REGISTER.FIELD_CONFIRM_PASSWORD" | translate
          }}</label>
          <input
            type="password"
            id="password_confirmation"
            name="password_confirmation"
            [(ngModel)]="password_confirmation"
            #confirmCtrl="ngModel"
            required
            minlength="7"
          />
        </div>

        <!-- Recuadro único de errores -->
        <div class="error-summary" *ngIf="validationErrorKeys.length">
          <ul>
            <li *ngFor="let key of validationErrorKeys">
              {{ key | translate }}
            </li>
          </ul>
        </div>

        <button type="submit">
          {{ "REGISTER.BUTTON_SUBMIT" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
