<!-- NAVBAR IMPORTADO DE CARPETA COMPONENTES -->
<app-navbar></app-navbar>
<!-- ACCORDION IMPORTADO DE CARPETA DE COMPONENTES-->
<app-accordion></app-accordion>

<div class="flex-1 mb-20">
    <div class="max-w-screen-lg mx-auto space-y-12">
      
      <!-- 1ª sección -->
      <div class="flex flex-col md:flex-row items-center gap-8">
        <div class="md:w-1/2">
          <h2 class="text-2xl font-bold mb-2">¿Qué es BeautyBook?</h2>
          <p class="text-gray-700">
            Una plataforma inteligente y gratuita que te conecta con profesionales de belleza cercanos a ti. Desde un corte de cabello, una limpieza facial, hasta un masaje relajante, lo encontrás en segundos.
          </p>
        </div>
        <div class="md:w-1/2 flex justify-center">
          <img src="/assets/image/quienesSomos1.webp" alt="¿Qué es BeautyBook?" class="w-1/2 rounded shadow" />
        </div>
      </div>

      <!-- 2ª sección -->
      <div class="flex flex-col-reverse md:flex-row items-center gap-8">
        <div class="md:w-1/2 flex justify-center">
          <img src="/assets/image/quienesSomos2.webp" alt="Reserva sin complicaciones" class="w-1/2 rounded shadow" />
        </div>
        <div class="md:w-1/2">
          <h2 class="text-2xl font-bold mb-2">Reserva sin complicaciones</h2>
          <p class="text-gray-700">
            Olvidate de las llamadas o mensajes. Con BeautyBook podés reservar online las 24 horas del día, todos los días de la semana, estés donde estés.
          </p>
        </div>
      </div>

      <!-- 3ª sección -->
      <div class="flex flex-col md:flex-row items-center gap-8">
        <div class="md:w-1/2">
          <h2 class="text-2xl font-bold mb-2">Impulsamos negocios locales</h2>
          <p class="text-gray-700">
            Ayudamos a profesionales y salones a gestionar mejor sus agendas y a llegar a más clientes. Porque creemos en una industria de la belleza más conectada, eficiente y digital.
          </p>
        </div>
        <div class="md:w-1/2 flex justify-center">
          <img src="/assets/image/quienesSomos3.webp" alt="Impulsamos negocios locales" class="w-1/2 rounded shadow" />
        </div>
      </div>

      <!-- 4ª sección -->
      <div class="flex flex-col-reverse md:flex-row items-center gap-8">
        <div class="md:w-1/2 flex justify-center">
          <img src="/assets/image/quienesSomos2.webp" alt="Nuestra misión" class="w-1/2 rounded shadow" />
        </div>
        <div class="md:w-1/2">
          <h2 class="text-2xl font-bold mb-2">Nuestra misión</h2>
          <p class="text-gray-700">
            Crear una experiencia fluida y accesible tanto para quienes ofrecen servicios como para quienes los disfrutan. En BeautyBook, cada cita es una oportunidad para sentirte y verte mejor.
          </p>
        </div>
      </div>

    </div>
  </div>

<!-- FOOTER -->
<app-footer></app-footer>
