<div class="navbar-container">
  <video autoplay muted loop class="navbar-video">
    <source src="assets/video/hero_section.mp4" type="video/mp4" />
    Tu navegador no soporta videos HTML5.
  </video>

  <div class="navbar-superior">
    <a href="#">BeautyBook</a>

    <div class="botones">
      <button class="login-btn">
        <i class="fas fa-sign-in-alt"></i>
        <div class="text-lines">
          <span>Iniciar</span>
          <span>Sesión/Registrarse</span>
        </div>
      </button>
      <button class="registrar">Registra tu negocio</button>
    </div>
  </div>

  <div class="navbar-medio">
    <div class="frases-container">
      <p class="frases"> 
       Encuentra y agenta tu cita con expertos en belleza y bienestar cerca de ti.
      </p>
    </div>
    <div class="buscador">
      <input type="text" placeholder="Consultar negocios y servicios disponibles" />
      <button class="buscar">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  
  <div class="navbar-inferior">
    <div class="categorias">
      <a href="#">Peluquería</a>
      <a href="#">Barbería</a>
      <a href="#">Salón de uñas</a>
      <a href="#">Depilación</a>
      <a href="#">Cejas y pestañas</a>
    </div>
  </div>
</div>