<app-navbar></app-navbar>

<div class="flex flex-col lg:flex-row gap-8 px-6 lg:px-20 py-10">
  <div class="w-full lg:w-1/3">
    <app-accordion></app-accordion>
  </div>

  <div
    class="flex-1 bg-white p-6 rounded-2xl shadow-md text-gray-800 text-justify space-y-6"
    data-aos="fade-up"
    data-aos-duration="1000"
  >
    <h2 class="text-3xl font-bold mb-4 text-left">
      {{ "PRIVACY.TITLE" | translate }}
    </h2>
    <h3 class="text-sm text-gray-500 mb-6">
      {{ "PRIVACY.LAST_UPDATED" | translate : { date: "15 de abril de 2025" } }}
    </h3>

    <p>
      {{ "PRIVACY.INTRO" | translate }}
    </p>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION1_TITLE" | translate }}
    </h3>
    <p>
      {{ "PRIVACY.SECTION1_TEXT" | translate }}
    </p>
    <ul class="list-disc list-inside mb-4">
      <li *ngFor="let item of 'PRIVACY.SECTION1_LIST' | translate">
        {{ item }}
      </li>
    </ul>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION2_TITLE" | translate }}
    </h3>
    <p>{{ "PRIVACY.SECTION2_TEXT" | translate }}</p>
    <ul class="list-disc list-inside mb-4">
      <li *ngFor="let item of 'PRIVACY.SECTION2_LIST' | translate">
        {{ item }}
      </li>
    </ul>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION3_TITLE" | translate }}
    </h3>
    <p>{{ "PRIVACY.SECTION3_TEXT1" | translate }}</p>
    <ul class="list-disc list-inside mb-4">
      <li *ngFor="let item of 'PRIVACY.SECTION3_LIST' | translate">
        {{ item }}
      </li>
    </ul>
    <p>{{ "PRIVACY.SECTION3_TEXT2" | translate }}</p>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION4_TITLE" | translate }}
    </h3>
    <p>{{ "PRIVACY.SECTION4_TEXT" | translate }}</p>

    <ul class="list-disc list-inside mb-4">
      <li *ngFor="let item of 'PRIVACY.SECTION4_LIST' | translate">
        {{ item }}
      </li>
    </ul>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION5_TITLE" | translate }}
    </h3>
    <p>
      {{ "PRIVACY.SECTION5_TEXT" | translate }}
    </p>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION6_TITLE" | translate }}
    </h3>
    <p>{{ "PRIVACY.SECTION6_TEXT" | translate }}</p>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.SECTION7_TITLE" | translate }}
    </h3>
    <p>{{ "PRIVACY.SECTION7_TEXT1" | translate }}</p>
    <ul class="list-disc list-inside mb-4">
      <li *ngFor="let item of 'PRIVACY.SECTION7_LIST' | translate">
        {{ item }}
      </li>
    </ul>
    <p [innerHTML]="'PRIVACY.SECTION7_TEXT2' | translate"></p>

    <h3 class="text-xl font-semibold">
      {{ "PRIVACY.CHANGES_TITLE" | translate }}
    </h3>
    <p>{{ "PRIVACY.CHANGES_TEXT" | translate }}</p>
  </div>
</div>

<!-- IMPORTO FOOTER DE LOS COMPONENTES-->
<app-footer></app-footer>
