<div class="footer" #footer>
  <div class="preguntas">
    <a (click)="navigateTo('quienesSomos')">
      {{ "FOOTER.QUIENES_SOMOS" | translate }}
    </a>
    <a (click)="navigateTo('preguntasFrecuentes')">
      {{ "FOOTER.PREGUNTAS_FRECUENTES" | translate }}
    </a>
    <a (click)="navigateTo('politicaDePrivacidad')">
      {{ "FOOTER.POLITICA_PRIVACIDAD" | translate }}
    </a>
    <a (click)="navigateTo('contacto')">
      {{ "FOOTER.CONTACTO" | translate }}
    </a>
  </div>
  <div class="footer-inferior">
    <div class="logo-svg" (click)="goHome()">
      <svg
        width="200"
        height="60"
        viewBox="0 0 320 100"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <text
          x="0"
          y="55"
          font-family="'Poppins', sans-serif"
          font-size="36"
          font-weight="600"
          fill="#fff"
        >
          Beauty
        </text>
        <text
          x="140"
          y="55"
          font-family="'Poppins', sans-serif"
          font-size="36"
          font-weight="700"
          fill="#f1c40f"
          stroke="#fff"
          stroke-width="1"
        >
          Book
        </text>
        <path
          d="M0 65 Q80 85 160 65"
          stroke="#f1c40f"
          stroke-width="2"
          fill="none"
        />
      </svg>
    </div>

    <p>
      {{ "FOOTER.COPYRIGHT" | translate : { year: currentYear } }}
    </p>
    <div class="redes-sociales">
      <a href="https://www.facebook.com/BeautyBook" target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.instagram.com/BeautyBook" target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://twitter.com/BeautyBook" target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
    </div>
  </div>
</div>
