<div class="footer">
    <div class="preguntas">
      <a (click)="navigateTo('quienesSomos')">Quiénes Somos</a>
      <a (click)="navigateTo('preguntasFrecuentes')">Preguntas Frecuentes</a>
      <a (click)="navigateTo('politicaDePrivacidad')">Política de privacidad</a>
      <a (click)="navigateTo('contacto')">Contacto</a>
    </div>
  
    <div class="footer-inferior">
      <div class="redes-sociales">
        <a href="https://www.facebook.com/BeautyBook" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/BeautyBook" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/BeautyBook" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <p>&copy; 2025 BeautyBook. Todos los derechos reservados.</p>
      <p>BeautyBook</p>
    </div>
  </div>